.container {
    display: flex;
    margin: 3vw;
}

.image img {
    width: 100%;
}

.details {
    flex-grow: 1;
    padding: 2vw 3vw;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.price {
    font-size: 18px;
    margin-bottom: 15px;
}

.description {
    margin-bottom: 15px;
}

.AddToCart {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width:668px) {
    .container {
        flex-direction: column;
    }

    .image img {
        width: 100vw;
    }

    .name {
        text-align: center;
    }

    .price {
        text-align: center;

    }

    .description {
        text-align: center;
    }

    .btn {
        text-align: center;

    }

}